In [1]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd
import numpy as np

Using TensorFlow backend.

In [2]:
df = pd.read_csv('./thoracic_surgery.csv')
Data_set = df.values

In [3]:
train, test = train_test_split(Data_set, test_size=0.2)

X_train = train[:, :17]
Y_train = train[:, 17]
print(X_train, '\n\n', Y_train)

X_test = test[:, :17]
Y_test = test[:, 17]
print(X_test, '\n\n', Y_test)

[[  5.     3.     2.44 ...   1.     0.    73.  ]
 [269.     3.     2.52 ...   1.     0.    74.  ]
 [336.     3.     2.4  ...   1.     0.    64.  ]
 ...
 [358.     3.     2.   ...   1.     0.    70.  ]
 [211.     3.     4.72 ...   1.     0.    51.  ]
 [341.     3.     3.88 ...   1.     0.    67.  ]]

 [1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0.
 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1.]
[[457.     3.     2.4  ...   1.     0.    62.  ]
 [145.     2.     3.64 ...   1.     0.    70.  ]
 [246.     3.     5.49 ...   1.     0.    56.  ]
 ...
 [248.     3.     4.08 ...   1.     0.    55.  ]
 [ 96.     3.     4.56 ...   1.     0.    54.  ]
 [163.     3.     3.2  ...   1.     0.    67.  ]]

 [0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.
 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [4]:
# 입력층
model = Sequential()

# 은닉층
model.add(Dense(30, input_dim=17, activation='relu'))

# 출력층
model.add(Dense(1, activation='sigmoid'))

WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [5]:
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [6]:
model.fit(X_train, Y_train, epochs=30, batch_size=10)

WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:2741: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/30
WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /Users/pangwoon/miniconda3/envs/py37/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

376/376 [==============================] - 0s 649us/step - loss: 0.1486 - acc: 0.8431
Epoch 2/30
376/376 [==============================] - 0s 61us/step - loss: 0.1486 - acc: 0.8457
Epoch 3/30
376/376 [==============================] - 0s 57us/step - loss: 0.1488 - acc: 0.8457
Epoch 4/30
376/376 [==============================] - 0s 51us/step - loss: 0.1466 - acc: 0.8484
Epoch 5/30
376/376 [==============================] - 0s 49us/step - loss: 0.1486 - acc: 0.8484
Epoch 6/30
376/376 [==============================] - 0s 54us/step - loss: 0.1486 - acc: 0.8484
Epoch 7/30
376/376 [==============================] - 0s 58us/step - loss: 0.1464 - acc: 0.8431
Epoch 8/30
376/376 [==============================] - 0s 52us/step - loss: 0.1494 - acc: 0.8484
Epoch 9/30
376/376 [==============================] - 0s 53us/step - loss: 0.1466 - acc: 0.8484
Epoch 10/30
376/376 [==============================] - 0s 52us/step - loss: 0.1462 - acc: 0.8484
Epoch 11/30
376/376 [==============================] - 0s 55us/step - loss: 0.1511 - acc: 0.8431
Epoch 12/30
376/376 [==============================] - 0s 52us/step - loss: 0.1451 - acc: 0.8484
Epoch 13/30
376/376 [==============================] - 0s 51us/step - loss: 0.1458 - acc: 0.8484
Epoch 14/30
376/376 [==============================] - 0s 52us/step - loss: 0.1444 - acc: 0.8511
Epoch 15/30
376/376 [==============================] - 0s 51us/step - loss: 0.1438 - acc: 0.8457
Epoch 16/30
376/376 [==============================] - 0s 53us/step - loss: 0.1451 - acc: 0.8431
Epoch 17/30
376/376 [==============================] - 0s 53us/step - loss: 0.1421 - acc: 0.8378
Epoch 18/30
376/376 [==============================] - 0s 50us/step - loss: 0.1428 - acc: 0.8457
Epoch 19/30
376/376 [==============================] - 0s 52us/step - loss: 0.1418 - acc: 0.8484
Epoch 20/30
376/376 [==============================] - 0s 51us/step - loss: 0.1377 - acc: 0.8431
Epoch 21/30
376/376 [==============================] - 0s 50us/step - loss: 0.1424 - acc: 0.8484
Epoch 22/30
376/376 [==============================] - 0s 52us/step - loss: 0.1449 - acc: 0.8511
Epoch 23/30
376/376 [==============================] - 0s 51us/step - loss: 0.1414 - acc: 0.8511
Epoch 24/30
376/376 [==============================] - 0s 53us/step - loss: 0.1408 - acc: 0.8511
Epoch 25/30
376/376 [==============================] - 0s 54us/step - loss: 0.1439 - acc: 0.8351
Epoch 26/30
376/376 [==============================] - 0s 52us/step - loss: 0.1492 - acc: 0.8484
Epoch 27/30
376/376 [==============================] - 0s 55us/step - loss: 0.1460 - acc: 0.8511
Epoch 28/30
376/376 [==============================] - 0s 52us/step - loss: 0.1466 - acc: 0.8484
Epoch 29/30
376/376 [==============================] - 0s 51us/step - loss: 0.1459 - acc: 0.8511
Epoch 30/30
376/376 [==============================] - 0s 51us/step - loss: 0.1459 - acc: 0.8484

In [7]:
model.evaluate(X_test, Y_test)

94/94 [==============================] - 0s 229us/step

[0.14088213855915882, 0.8617021301959423]

In [8]:
prediction = model.predict_classes(X_test)

In [9]:
comparison = pd.DataFrame({'prediction':prediction.ravel(), 'ground_truth':Y_test.astype(int)})
comparison

    prediction  ground_truth
0            0             0
1            0             0
2            0             0
3            0             0
4            0             0
..         ...           ...
89           0             0
90           0             0
91           0             0
92           0             0
93           0             0

[94 rows x 2 columns]

In [10]:
model = Sequential()

model.add(Dense(50, input_dim=17, activation='relu'))

model.add(Dense(1, activation='sigmoid'))

In [11]:
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])

In [12]:
model.fit(X_train, Y_train, epochs=30, batch_size=10)

Epoch 1/30
376/376 [==============================] - 0s 484us/step - loss: 0.7943 - acc: 0.1888
Epoch 2/30
376/376 [==============================] - 0s 71us/step - loss: 0.1583 - acc: 0.8378
Epoch 3/30
376/376 [==============================] - 0s 66us/step - loss: 0.1516 - acc: 0.8484
Epoch 4/30
376/376 [==============================] - 0s 58us/step - loss: 0.1516 - acc: 0.8484
Epoch 5/30
376/376 [==============================] - 0s 65us/step - loss: 0.1516 - acc: 0.8484
Epoch 6/30
376/376 [==============================] - 0s 64us/step - loss: 0.1516 - acc: 0.8484
Epoch 7/30
376/376 [==============================] - 0s 61us/step - loss: 0.1516 - acc: 0.8484
Epoch 8/30
376/376 [==============================] - 0s 62us/step - loss: 0.1516 - acc: 0.8484
Epoch 9/30
376/376 [==============================] - 0s 69us/step - loss: 0.1516 - acc: 0.8484
Epoch 10/30
376/376 [==============================] - 0s 72us/step - loss: 0.1516 - acc: 0.8484
Epoch 11/30
376/376 [==============================] - 0s 64us/step - loss: 0.1516 - acc: 0.8484
Epoch 12/30
376/376 [==============================] - 0s 72us/step - loss: 0.1516 - acc: 0.8484
Epoch 13/30
376/376 [==============================] - 0s 63us/step - loss: 0.1516 - acc: 0.8484
Epoch 14/30
376/376 [==============================] - 0s 69us/step - loss: 0.1516 - acc: 0.8484
Epoch 15/30
376/376 [==============================] - 0s 62us/step - loss: 0.1516 - acc: 0.8484
Epoch 16/30
376/376 [==============================] - 0s 65us/step - loss: 0.1516 - acc: 0.8484
Epoch 17/30
376/376 [==============================] - 0s 65us/step - loss: 0.1516 - acc: 0.8484
Epoch 18/30
376/376 [==============================] - 0s 70us/step - loss: 0.1516 - acc: 0.8484
Epoch 19/30
376/376 [==============================] - 0s 66us/step - loss: 0.1516 - acc: 0.8484
Epoch 20/30
376/376 [==============================] - 0s 64us/step - loss: 0.1516 - acc: 0.8484
Epoch 21/30
376/376 [==============================] - 0s 72us/step - loss: 0.1516 - acc: 0.8484
Epoch 22/30
376/376 [==============================] - 0s 63us/step - loss: 0.1516 - acc: 0.8484
Epoch 23/30
376/376 [==============================] - 0s 66us/step - loss: 0.1516 - acc: 0.8484
Epoch 24/30
376/376 [==============================] - 0s 66us/step - loss: 0.1516 - acc: 0.8484
Epoch 25/30
376/376 [==============================] - 0s 70us/step - loss: 0.1516 - acc: 0.8484
Epoch 26/30
376/376 [==============================] - 0s 64us/step - loss: 0.1516 - acc: 0.8484
Epoch 27/30
376/376 [==============================] - 0s 63us/step - loss: 0.1516 - acc: 0.8484
Epoch 28/30
376/376 [==============================] - 0s 66us/step - loss: 0.1516 - acc: 0.8484
Epoch 29/30
376/376 [==============================] - 0s 69us/step - loss: 0.1516 - acc: 0.8484
Epoch 30/30
376/376 [==============================] - 0s 69us/step - loss: 0.1516 - acc: 0.8484

In [13]:
model.evaluate(X_test, Y_test)

94/94 [==============================] - 0s 437us/step

[0.13829774488794042, 0.8617021301959423]

In [14]:
prediction = model.predict_classes(X_test)

In [15]:
comparison = pd.DataFrame({'prediction':prediction.ravel(), 'ground_truth':Y_test.astype(int)})
comparison

    prediction  ground_truth
0            0             0
1            0             0
2            0             0
3            0             0
4            0             0
..         ...           ...
89           0             0
90           0             0
91           0             0
92           0             0
93           0             0

[94 rows x 2 columns]

In [16]:
model = Sequential()

model.add(Dense(30, input_dim=17, activation='relu'))
model.add(Dense(30, input_dim=17, activation='relu'))
model.add(Dense(30, input_dim=17, activation='relu'))

model.add(Dense(1, activation='sigmoid'))

In [17]:
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])

In [18]:
model.fit(X_train, Y_train, epochs=30, batch_size=10)

Epoch 1/30
376/376 [==============================] - 0s 759us/step - loss: 0.1403 - acc: 0.8404
Epoch 2/30
376/376 [==============================] - 0s 89us/step - loss: 0.1455 - acc: 0.8484
Epoch 3/30
376/376 [==============================] - 0s 86us/step - loss: 0.1464 - acc: 0.8351
Epoch 4/30
376/376 [==============================] - 0s 83us/step - loss: 0.1453 - acc: 0.8484
Epoch 5/30
376/376 [==============================] - 0s 79us/step - loss: 0.1431 - acc: 0.8484
Epoch 6/30
376/376 [==============================] - 0s 78us/step - loss: 0.1469 - acc: 0.8484
Epoch 7/30
376/376 [==============================] - 0s 82us/step - loss: 0.1476 - acc: 0.8457
Epoch 8/30
376/376 [==============================] - 0s 81us/step - loss: 0.1475 - acc: 0.8484
Epoch 9/30
376/376 [==============================] - 0s 81us/step - loss: 0.1475 - acc: 0.8431
Epoch 10/30
376/376 [==============================] - 0s 83us/step - loss: 0.1416 - acc: 0.8457
Epoch 11/30
376/376 [==============================] - 0s 81us/step - loss: 0.1448 - acc: 0.8431
Epoch 12/30
376/376 [==============================] - 0s 84us/step - loss: 0.1478 - acc: 0.8431
Epoch 13/30
376/376 [==============================] - 0s 84us/step - loss: 0.1477 - acc: 0.8484
Epoch 14/30
376/376 [==============================] - 0s 83us/step - loss: 0.1470 - acc: 0.8484
Epoch 15/30
376/376 [==============================] - 0s 86us/step - loss: 0.1483 - acc: 0.8431
Epoch 16/30
376/376 [==============================] - 0s 85us/step - loss: 0.1484 - acc: 0.8484
Epoch 17/30
376/376 [==============================] - 0s 86us/step - loss: 0.1471 - acc: 0.8484
Epoch 18/30
376/376 [==============================] - 0s 89us/step - loss: 0.1463 - acc: 0.8484
Epoch 19/30
376/376 [==============================] - 0s 88us/step - loss: 0.1464 - acc: 0.8484
Epoch 20/30
376/376 [==============================] - 0s 90us/step - loss: 0.1463 - acc: 0.8484
Epoch 21/30
376/376 [==============================] - 0s 94us/step - loss: 0.1455 - acc: 0.8484
Epoch 22/30
376/376 [==============================] - 0s 90us/step - loss: 0.1450 - acc: 0.8484
Epoch 23/30
376/376 [==============================] - 0s 96us/step - loss: 0.1468 - acc: 0.8484
Epoch 24/30
376/376 [==============================] - 0s 96us/step - loss: 0.1459 - acc: 0.8484
Epoch 25/30
376/376 [==============================] - 0s 96us/step - loss: 0.1440 - acc: 0.8484
Epoch 26/30
376/376 [==============================] - 0s 97us/step - loss: 0.1433 - acc: 0.8484
Epoch 27/30
376/376 [==============================] - 0s 93us/step - loss: 0.1370 - acc: 0.8484
Epoch 28/30
376/376 [==============================] - 0s 96us/step - loss: 0.1439 - acc: 0.8484
Epoch 29/30
376/376 [==============================] - 0s 91us/step - loss: 0.1454 - acc: 0.8484
Epoch 30/30
376/376 [==============================] - 0s 108us/step - loss: 0.1447 - acc: 0.8484

In [19]:
model.evaluate(X_test,Y_test)

94/94 [==============================] - 0s 826us/step

[0.13339239771061756, 0.8617021301959423]

In [20]:
prediction = model.predict_classes(X_test)

In [21]:
comparison = pd.DataFrame({'prediction':prediction.ravel(), 'gound_truth':Y_test.astype(int)})
comparison

    prediction  gound_truth
0            0            0
1            0            0
2            0            0
3            0            0
4            0            0
..         ...          ...
89           0            0
90           0            0
91           0            0
92           0            0
93           0            0

[94 rows x 2 columns]

In [22]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
import numpy as np
import pandas as pd

In [23]:
df = pd.read_csv('./trainClean.csv')
df

,Unnamed: 0,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Survived
0,0,1,3,1,22.0,1,0,7.2500,0
1,1,2,1,0,38.0,1,0,71.2833,1
2,2,3,3,0,26.0,0,0,7.9250,1
3,3,4,1,0,35.0,1,0,53.1000,1
4,4,5,3,1,35.0,0,0,8.0500,0
...,...,...,...,...,...,...,...,...,...
707,885,886,3,0,39.0,0,5,29.1250,0
708,886,887,2,1,27.0,0,0,13.0000,0
709,887,888,1,0,19.0,0,0,30.0000,1
710,889,890,1,1,26.0,0,0,30.0000,1
711,890,891,3,1,32.0,0,0,7.7500,0

In [24]:
train, test = train_test_split(df, test_size=0.2)

In [25]:
X_train = train[['Pclass','Sex']].values
Y_train = train[['Survived']].values.ravel()

X_test = test[['Pclass','Sex']].values
Y_test = test[['Survived']].values.ravel()

In [26]:
model = Sequential()

model.add(Dense(30, input_dim=2, activation='relu'))

model.add(Dense(1, activation='sigmoid'))

In [27]:
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])

In [28]:
model.fit(X_train, Y_train, epochs=30, batch_size=10)

Epoch 1/30
569/569 [==============================] - 0s 503us/step - loss: 0.2224 - acc: 0.6239
Epoch 2/30
569/569 [==============================] - 0s 81us/step - loss: 0.2039 - acc: 0.5975
Epoch 3/30
569/569 [==============================] - 0s 80us/step - loss: 0.1962 - acc: 0.6626
Epoch 4/30
569/569 [==============================] - 0s 74us/step - loss: 0.1898 - acc: 0.7926
Epoch 5/30
569/569 [==============================] - 0s 77us/step - loss: 0.1841 - acc: 0.7821
Epoch 6/30
569/569 [==============================] - 0s 72us/step - loss: 0.1791 - acc: 0.7873
Epoch 7/30
569/569 [==============================] - 0s 68us/step - loss: 0.1746 - acc: 0.7873
Epoch 8/30
569/569 [==============================] - 0s 68us/step - loss: 0.1715 - acc: 0.7873
Epoch 9/30
569/569 [==============================] - 0s 68us/step - loss: 0.1683 - acc: 0.7873
Epoch 10/30
569/569 [==============================] - 0s 66us/step - loss: 0.1668 - acc: 0.7873
Epoch 11/30
569/569 [==============================] - 0s 67us/step - loss: 0.1645 - acc: 0.7873
Epoch 12/30
569/569 [==============================] - 0s 68us/step - loss: 0.1626 - acc: 0.7873
Epoch 13/30
569/569 [==============================] - 0s 65us/step - loss: 0.1611 - acc: 0.7873
Epoch 14/30
569/569 [==============================] - 0s 69us/step - loss: 0.1597 - acc: 0.7873
Epoch 15/30
569/569 [==============================] - 0s 72us/step - loss: 0.1583 - acc: 0.7873
Epoch 16/30
569/569 [==============================] - 0s 73us/step - loss: 0.1573 - acc: 0.7873
Epoch 17/30
569/569 [==============================] - 0s 76us/step - loss: 0.1561 - acc: 0.7873
Epoch 18/30
569/569 [==============================] - 0s 74us/step - loss: 0.1552 - acc: 0.7873
Epoch 19/30
569/569 [==============================] - 0s 75us/step - loss: 0.1544 - acc: 0.7873
Epoch 20/30
569/569 [==============================] - 0s 78us/step - loss: 0.1535 - acc: 0.7873
Epoch 21/30
569/569 [==============================] - 0s 73us/step - loss: 0.1529 - acc: 0.7873
Epoch 22/30
569/569 [==============================] - 0s 69us/step - loss: 0.1523 - acc: 0.7873
Epoch 23/30
569/569 [==============================] - 0s 70us/step - loss: 0.1523 - acc: 0.7873
Epoch 24/30
569/569 [==============================] - 0s 69us/step - loss: 0.1513 - acc: 0.7873
Epoch 25/30
569/569 [==============================] - 0s 63us/step - loss: 0.1514 - acc: 0.7873
Epoch 26/30
569/569 [==============================] - 0s 70us/step - loss: 0.1505 - acc: 0.7873
Epoch 27/30
569/569 [==============================] - 0s 67us/step - loss: 0.1504 - acc: 0.7873
Epoch 28/30
569/569 [==============================] - 0s 63us/step - loss: 0.1499 - acc: 0.7873
Epoch 29/30
569/569 [==============================] - 0s 68us/step - loss: 0.1497 - acc: 0.7873
Epoch 30/30
569/569 [==============================] - 0s 65us/step - loss: 0.1492 - acc: 0.7873

In [29]:
model.evaluate(X_test, Y_test)

143/143 [==============================] - 0s 518us/step

[0.17114197447166576, 0.7482517495021953]

In [30]:
prediction = model.predict_classes(X_test)

In [31]:
comparison = pd.DataFrame({'prediction':prediction.ravel(), 'ground_truth':Y_test})
comparison

     prediction  ground_truth
0             0             1
1             0             1
2             0             0
3             0             0
4             1             1
..          ...           ...
138           0             0
139           0             0
140           1             1
141           0             0
142           0             1

[143 rows x 2 columns]